version: '3.8'

services:

  config-server:
    container_name: config
    build: ./config/.
    restart: always
    ports:
      - "19090:19090"
    depends_on:
      eureka-server:
        condition: service_healthy

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:19090/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10

    networks:
      - msa-network

  eureka-server:
    container_name: eureka
    build: ./eureka-server/.
    restart: always
    ports:
      - "18080:18080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:18080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - msa-network

  gateway-server:
    container_name: gateway
    build: ./gateway/.
    restart: always
    ports:
      - "17070:17070"

    depends_on:
      eureka-server:
        condition: service_healthy

    networks:
      - msa-network

  postgresql-server:
    container_name: postgresql
    image: postgres:17.6
    restart: always
    environment:
      POSTGRES_DB: default
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - ./docker/db/postgresql:/var/lib/postgresql
    ports:
      - "5432:5432"

    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "root", "-d", "default", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - msa-network

  delivery-service:
    container_name: delivery
    build: ./delivery/.
    restart: always
    ports:
      - "7070:7070"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      postgresql-server:
        condition: service_healthy

    networks:
      - msa-network

  member-service:
    container_name: member
    build: ./member/.
    restart: always
    ports:
      - "9090:9090"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      postgresql-server:
        condition: service_healthy

    networks:
      - msa-network

networks:
  msa-network:
    driver: bridge
