spring:
  sql:
    init:
      mode: always

  datasource:
    url: jdbc:postgresql://localhost:5432/hub
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

eureka:
  instance:
    prefer-ip-address: true

management:
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  tracing:
    enabled: true
    sampling:
      probability: 1.0
