# member.application-test.yml
spring:
  application:
    name: member-service
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    show-sql: true
  h2:
    console:
      enabled: false
  cloud:
    config:
      enabled: false

springdoc:
  swagger-ui:
    path: /swagger-ui
    operations-sorter: method
    tags-sorter: alpha

eureka:
  client:
    enabled: false
