# member.application-test.yml
spring:
  application:
    name: member-service
  datasource:
    url: jdbc:postgresql://localhost:5432/default
    driver-class-name: org.postgresql.Driver
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: false
  cloud:
    config:
      enabled: false

eureka:
  client:
    enabled: false
