# member.application-dev.yml
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/member
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  application:
    name: member-service
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    show-sql: true
  h2:
    console:
      enabled: false
  cloud:
    config:
      enabled: false

springdoc:
  swagger-ui:
    path: /swagger-ui
    operations-sorter: method
    tags-sorter: alpha

eureka:
  client:
    enabled: false
