spring:
  application:
    name: Eureka-server

server:
  port: 8080

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://eureka:8080/eureka/

  instance:
    hostname: localhost

  server:
    enable-self-preservation: false

