spring:
  application:
    name: Eureka-server

server:
  port: 18080

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

  instance:
    hostname: localhost

  server:
    enable-self-preservation: false

